<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
</head>
<body ng-app='angularplayground'>

<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="factories.js"></script>
<script type="text/javascript" src="controllers.js"></script>
<script type="text/javascript" src="directives.js"></script>

<script type="text/ng-template" id="flashPlaybackTpl">
    <div class="form-group col-md-7">
        <p>Hello from my custom directive</p>
        <label for="playback.rtmp.url">RTMP Playback URL:</label>
        <input id="playback.rtmp.url" type="text"
               class="form-control"
               ng-model="playback.rtmp.url"/>
    </div>
</script>

<div ng-controller="MultipleDirectivesSharingModel">
    <ul ng-repeat="playbackSetting in playbackSettings" class="container">
        <li flash-playback="playbackSetting" />
    </ul>
</div>

</body>
</html>